body {
  font-family: Raleway, sans-serif;
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
}

header img {
  max-width: 4em;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 2em 3em;
}

header a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

h1 {
  font-weight: 800;
  margin-bottom: 5px;
}

p {
  margin: 0px;
  font-weight: 600;
}

.champ-recherche {
  display: flex;
  margin-bottom: 1.7em;
}

.titre-recherche p {
  margin-bottom: 20px;
}

.fa-location-dot {
  background-color: #d9d9d9;
  padding: 15px 20px;
  border-radius: 15px 0 0 15px;
  font-size: 1.2em;
}

.champ-recherche input {
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 1.1em;
}

.champ-recherche button {
  font-family: Raleway, sans-serif;
  background-color: #0065fc;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  border: 0px;
  padding: 0px 15px;
  border-radius: 0 15px 15px 0;
}

.bouton-loupe {
  display: none;
}

h2 {
  font-size: 1.3em;
  font-weight: 800;
  margin: 0 0 1em 0;
}

.filtres {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
}

.boutons-filtres {
  display: flex;
  gap: 3em;
}

.boutons-filtres a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.1em;
  border: 2px solid #d9d9d9;
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.boutons-filtres a:hover {
  background-color: #deebff;
}

.boutons-filtres a i {
  color: #0065fc;
  font-size: 1.1em;
  padding-right: 0.5em;
}

.logements-dispo {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
}

.logements-dispo i {
  color: #0065fc;
  border: 1px solid #d9d9d9;
  padding: 6px 10px;
  border-radius: 1000px;
  font-size: 0.8em;
}

.logements-dispo p {
  border-left: 1em;
}

#hebergements {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

#hebergements article,
aside {
  background-color: #d9d9d9;
  padding: 2.5em;
  border-radius: 30px;
}

.description-herbergement {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.7em;
  gap: 0.4em;
}

.description-herbergement p {
  font-size: 0.9em;
}

h4 {
  font-weight: 800;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.3em;
  line-height: 1.1em;
}

.resultats-hebergements {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.resultats-hebergements img {
  border-radius: 20px 20px 0 0;
  min-height: 7.5em;
  max-height: 7.5em;
  object-fit: cover;
  width: 100%;
}

.resultats-hebergements > a {
  text-decoration: none;
  font-weight: 800;
  color: black;
  margin-top: 3em;
}

.populaires {
  flex: 0.3;
}
.populaires img {
  border-radius: 20px 0 0 20px;
  /* max-height: 6em; */
  object-fit: cover;
  width: 100%;
}

.cards-hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

.cards-hebergement > div {
  box-shadow: 3px 3px 10px rgb(180, 180, 180);
  flex: 0 1 calc(33% - 2em);
  background-color: white;
  border-radius: 20px;
  border: 5px solid white;
}

.cards-populaires {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

.cards-populaires > div {
  box-shadow: 3px 3px 10px rgb(180, 180, 180);
  flex: 0 1 calc(33% - 2em);
  background-color: white;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  min-height: 9em;
  max-height: 9em;
}

.cards-populaires img {
  max-width: 8em;
  min-width: 8em;
  object-fit: cover;
  min-height: 8.5em;
}

.cards-populaires > * > .description-herbergement {
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em;
}

.description-texte {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.titre-populaires {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fa-chart-line {
  color: #0065fc;
  font-weight: 800;
}

h4 {
  margin: 0px;
}

.etoiles {
  font-size: 0.75em;
  margin: 0;
  letter-spacing: -0.1em;
  color: #0065fc;
}

.etoile-grise {
  color: #d9d9d9;
}

.resultats-activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resultats-activites > div {
  box-shadow: 3px 3px 10px rgb(204, 204, 204);
  border-radius: 20px;
  flex: 0 1 calc(25% - 2.3em);
}

.resultats-activites img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  min-height: 24em;
  max-height: 24em;
  object-fit: cover;
}

.resultats-activites h4 {
  padding: 1em;
}

#activites {
  margin-top: 3em;
}

footer {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12em;
  padding: 2em 4em;
  margin-top: 3em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  padding: 0.4em 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .filtres {
    gap: 1em;
  }

  .boutons-filtres {
    display: flex;
    gap: 1.1em;
  }

  #hebergements {
    flex-direction: column;
  }

  .cards-populaires {
    flex-direction: row;
    gap: 0;
  }

  .cards-populaires > div {
    flex: 0 1 30%;
  }

  .cards-populaires img {
    max-width: 5em;
    min-width: 0;
  }

  .cards-populaires > * > .description-herbergement {
    padding: 0.5em 0.8em 0.5em 1em;
  }

  .cards-populaires > * > .description-herbergement > .description-texte > h4 {
    font-size: 0.95em;
  }

  .cards-populaires > * > .description-herbergement > .description-texte > p {
    font-size: 0.8em;
  }

  .resultats-activites img {
    max-height: 13em;
    min-height: 13em;
  }

  .resultats-activites > div {
    display: flex;
    flex-direction: column;
  }

  /* la lutte pour centrer le texte verticalement !!!  */

  .resultats-activites h4 {
    padding: 0.5em 1em 0.5em 1em;
    margin: auto 0;
  }

  footer {
    gap: 5em;
    margin-top: 4em;
  }

  #activites > h2 {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  header {
    flex-direction: column;
    margin-top: 2em;
    height: 8em;
    flex-wrap: nowrap;
    margin-bottom: 6em;
  }

  header img {
    max-width: 7em;
  }

  header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  header a {
    display: inline-flex;
    font-size: 1.7em;
    padding: 0 0 1em 0;
    width: 50%;
    justify-content: center;
    border-top: 0px;
    border-bottom: 5px solid #d9d9d9;
    margin-top: 3em;
  }

  header a:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }

  .bloc-recherche {
    padding: 0 2.3em;
  }

  h1 {
    font-size: 2.7em;
    margin-bottom: 0.5em;
  }

  .titre-recherche p {
    font-size: 1.9em;
    margin-bottom: 2em;
  }

  .champ-recherche {
    align-content: stretch;
    margin-bottom: 5em;
    width: 100%;
  }

  .champ-recherche > i {
    display: flex;
    height: 2.75em;
    width: 2.75em;
    align-items: center;
    justify-content: center;
    flex: none;
  }

  .fa-location-dot {
    font-size: 2em;
    padding: 0em;
    border-radius: 30px 0 0 30px;
  }

  .champ-recherche > form {
    display: flex;
    flex: 1;
  }

  .champ-recherche input {
    flex: 1;
    font-size: 2em;
    padding: 20px;
  }

  .bouton-loupe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    width: 5em;
    flex: none;
  }

  .champ-recherche button {
    border-radius: 0 30px 30px 0;
  }

  .bouton-loupe > i {
    font-size: 1.8em;
  }

  .bouton-rechercher {
    display: none;
  }

  .filtres {
    flex-direction: column;
    margin-bottom: 5em;
  }

  .filtres > h3 {
    align-self: flex-start;
    font-size: 2em;
    margin: 0;
  }

  .boutons-filtres {
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
  }

  .boutons-filtres > a {
    flex: 1 0 40%;
    height: 3em;
    border-radius: 50px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    border: 3px solid #d9d9d9;
  }

  .boutons-filtres > a > i {
    font-size: 1.8em;
    padding: 0 0.3em 0 0.3em;
  }

  .logements-dispo {
    align-items: baseline;
    font-size: 1.9em;
  }

  .logements-dispo > i {
    font-size: 0.8em;
    font-stretch: 700%;
    border-radius: 100%;
    padding: 10px 17px;
    border: 2px solid #d9d9d9;
  }

  #hebergements {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }

  #hebergements article,
  aside {
    border-radius: 0;
  }

  h2 {
    font-size: 2.5em;
  }

  .fa-chart-line {
    font-size: 2em;
  }

  .cards-populaires > div {
    border: 9px solid white;
    border-radius: 30px;
    max-height: none;
  }

  .cards-populaires {
    gap: 1.5em;
  }

  .cards-populaires img {
    min-width: 15em;
    max-width: 15em;
    min-height: 15em;
    max-height: 15em;
  }

  .cards-populaires > * > .description-herbergement {
    padding: 1.5em 2em;
  }

  h4 {
    font-size: 2em;
  }

  .description-herbergement p {
    font-size: 1.7em;
  }

  .etoiles {
    font-size: 1.5em;
  }

  #hebergements article {
    background-color: white;
  }

  .cards-hebergement {
    flex-direction: column;
  }

  .resultats-hebergements img {
    max-height: 14em;
    min-height: 14em;
  }

  .description-herbergement {
    padding: 1em 1.5em;
  }

  .cards-hebergement {
    gap: 1.5em;
  }

  .cards-hebergement > div {
    border-radius: 30px;
    border: 9px solid white;
  }

  .resultats-hebergements img {
    border-radius: 30px 30px 0 0;
  }

  .resultats-hebergements > a {
    display: none;
  }

  #activites {
    padding: 0 2.5em;
    margin-bottom: 10em;
  }

  #activites > h2 {
    width: 40%;
    margin: 0;
  }

  .resultats-activites {
    flex-direction: column;
    gap: 3em;
  }

  .resultats-activites > div {
    border-radius: 30px;
  }

  .resultats-activites img {
    min-height: 16em;
    max-height: 16em;
    border-radius: 30px 30px 0 0;
  }

  footer {
    flex-direction: column;
    gap: 1em;
    font-size: 2em;
    padding: 1em 2em 3em 2em;
  }
}
